.song-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-color: #000000;
    -fx-border-radius: 8;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-text-fill: #000000;
    -fx-font: 16px "Arial";
}

.song-button:hover {
    -fx-background-color: #aaaaaa;
    -fx-text-fill: #000000;
}

.song-button:pressed {
    -fx-background-color: #888888;
    -fx-text-fill: #ffffff;
}

.generic-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-color: #000000;
    -fx-border-radius: 8;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10 20 10 20;
}

.generic-button:hover {
    -fx-background-color: #aaaaaa;
}

.generic-button:pressed {
    -fx-background-color: #888888;
}

.title {
    -fx-font-size: 38px;
    -fx-font-weight: bold;
    -fx-padding: 20 20 0 20;
}

.artist-label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-padding: 5 20 10 20;
}

.title-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-color: #000000;
    -fx-border-radius: 8;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10 20 10 20;
}

.album-cover {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-color: #000000;
    -fx-border-radius: 8;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10 20 10 20;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :#000000;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 3.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.player-hbox {
    -fx-alignment: center;
}